@mixin bouncing-timing {
  -moz-transition-timing-function: cubic-bezier(.1, -1.6, .2, 0);
  -webkit-transition-timing-function: cubic-bezier(.1, -1.6, .2, 0);
  transition-timing-function: cubic-bezier(.1, -1.6, .2, 0);
}
