@mixin card-shadow {
  box-shadow: 0 4px 6px -2px $dark-gray;
}

@mixin display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-wrap($wrap) {
  flex-wrap: $wrap;
}

@mixin justify-content($justify) {
  justify-content: $justify;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin inline-block {
  -moz-display: inline-block;
  -webkit-display: inline-block;
  display: inline-block;
}
