@import 'variables';
@import 'mixins';
@import 'clippy/mixins';
@import 'clippy/animations';

:root {
  --card-color: #{$whitesmoke};
  --clippy-color: #{$dark-gray};
}

.card {
  @include card-shadow;

  background: var(--card-color);
  height: 240px;
  left: calc(50% - 100px);
  position: absolute;
  top: calc(50% - 120px);
  width: 200px;
}

.clippy {
  @include border-radius(var(--clippy-radius) var(--clippy-radius) 0 0);
  @include clippy-border;

  --clippy-radius: 40px;

  border-bottom: 0;
  height: 80px;
  margin: 35px auto;
  width: 40px;

  &::before {
    @include clippy-ending(80px, 60px, -8px, 120px);
  }

  &::after {
    @include clippy-ending(44px, 20px, 12px, 120px);
  }

  .eye {
    @include border-radius(50%);
    @include clippy-border(10px);

    background: var(--card-color);
    border-bottom-color: transparent;
    border-bottom-width: 2px;
    border-left-color: transparent;
    border-right-color: transparent;
    height: 29px;
    position: absolute;
    top: 62px;
    width: 35px;
  }
}

.eye {
  &.right {
    @include clippy-eye(rightEye, 99px, 25deg);
  }

  &.left {
    @include clippy-eye(leftEye, 45px, -25deg);
  }

  &::before {
    @include border-radius(50%);

    animation: blinkEye 2.5s infinite ease-in-out;
    background: var(--clippy-color);
    content: '';
    height: 0;
    left: 9px;
    position: absolute;
    top: 15px;
    width: 18px;
  }

  &::after {
    @include border-radius(50%);
    @include clippy-border(10px);

    content: '';
    height: 15px;
    margin-top: 6px;
    position: absolute;
    width: 15px;
  }
}
