@import 'variables';
@import 'main/mixins';

:root {
  --fg-color: #{$dark-gray};
}

body {
  background: $whitesmoke;
}

ul {
  list-style: none;
  
  li {
    border-bottom: solid 10px;
    cursor: pointer;
    display: inline-block;
    margin: 60px;
    padding-bottom: 15px;
    transition: border-bottom .5s ease-in-out;

    &.bone,
    &.gray-blue,
    &.dark-blue {
      @include bouncing-timing;
    }

    &.bone {
      border-bottom-color: $bone;
    }

    &.creme {
      border-bottom-color: $creme;
    }

    &.gray-blue {
      border-bottom-color: $gray-blue;
    }

    &.blue {
      border-bottom-color: $blue;
    }

    &.dark-blue {
      border-bottom-color: $dark-blue;
    }

    &:hover {
      border-bottom-width: 1px;
    }

    span {
      font-family: 'Lato', sans-serif;
      font-size: 82px;
      font-weight: 300;
      color: var(--fg-color);
    }
  }
}
